# Use the GitHub npm registry for the "acvigue" scope
@acvigue:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Always authenticate for the GitHub npm registry
always-auth=true
shamefully-hoist=true